/* ## Site Containers
--------------------------------------------- */

.site-inner {
	clear: both;
	padding-top: 40px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-wrap,
.content,
.sidebar-primary,
.sidebar-secondary {
	width: 100%;
}

@include breakpoint(960) {

	.site-inner,
	.wrap
	 {
		@if not $flex {
			@include grid-row;
		}
		@else {
			@include flex-grid-row;
		}
	}

	.content-sidebar-wrap
	 {
		@if not $flex {
			.sidebar-sidebar-content &,
			.sidebar-content-sidebar &,
			.content-sidebar-sidebar & {
				@include grid-column(9, 'collapse');
			}
			.sidebar-sidebar-content &,
			.sidebar-content-sidebar &,
			.content-sidebar-sidebar &,
			.content-sidebar &,
			.sidebar-content & {
				@include grid-row(12);
			}
			.sidebar-content-sidebar &,
			.sidebar-sidebar-content & {
				@include grid-column-position(3);
			}
		}
		@else {
			.sidebar-sidebar-content &,
			.sidebar-content-sidebar &,
			.content-sidebar-sidebar & {
				@include flex-grid-column(9, 'collapse');
			}
			.sidebar-sidebar-content &,
			.sidebar-content-sidebar &,
			.content-sidebar-sidebar &,
			.content-sidebar &,
			.sidebar-content & {
				@include flex-grid-row(12);
			}
			.sidebar-content-sidebar &,
			.sidebar-sidebar-content & {
				@include flex-grid-order(2);
			}
		}
	}


	/* ### Content */

	.content {
		@if not $flex {
			@include grid-column(9);

			.sidebar-sidebar-content &,
			.content-sidebar-sidebar &,
			.sidebar-content-sidebar & {
				@include grid-column(8);
			}
			.sidebar-sidebar-content & {
				@include grid-column-position(4);
			}

			.sidebar-content & {
				@include grid-column-position(3);
			}
		}
		@else {
			@include flex-grid-column(9);

			.sidebar-sidebar-content &,
			.content-sidebar-sidebar &,
			.sidebar-content-sidebar & {
				@include flex-grid-column(8);
			}
			.sidebar-sidebar-content &,
			.sidebar-content & {
				@include flex-grid-order(2);
			}
		}
		.full-width-content & {
			width: 100%;
		}
	}

	/* ### Primary Sidebar */

	.sidebar-primary {
		@if not $flex {
			@include grid-column(3);

			.sidebar-sidebar-content &,
			.content-sidebar-sidebar &,
			.sidebar-content-sidebar & {
				@include grid-column(4);
			}

			.sidebar-sidebar-content & {
				@include grid-column-position(-8);
			}
			.sidebar-content & {
				@include grid-column-position(-9);
			}
		}
		@else {
			@include flex-grid-column(3);

			.sidebar-sidebar-content &,
			.content-sidebar-sidebar &,
			.sidebar-content-sidebar & {
				@include flex-grid-column(4);
			}
			.sidebar-sidebar-content &,
			.sidebar-content & {
				@include flex-grid-order(1);
			}
		}
	}

	/* ### Secondary Sidebar */

	.sidebar-secondary {
		@if not $flex {
			@include grid-column(3);

			.sidebar-sidebar-content &,
			.sidebar-content-sidebar & {
				@include grid-column-position(-9);
			}
		}
		@else {
			@include flex-grid-column(3);

			.sidebar-sidebar-content &,
			.sidebar-content-sidebar & {
				@include flex-grid-order(1);
			}

		}
	}

}


/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48.717948717948715%;
}

.one-third,
.two-sixths {
	width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
	width: 65.81196581196582%;
}

.one-fourth {
	width: 23.076923076923077%;
}

.three-fourths {
	width: 74.35897435897436%;
}

.one-sixth {
	width: 14.52991452991453%;
}

.five-sixths {
	width: 82.90598290598291%;
}

.first {
	clear: both;
	margin-left: 0;
}