/* ## WordPress

TODO: update code with rems
--------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto rem-calc(24px);
}

img.alignnone,
.alignnone {
	margin-bottom: rem-calc(12px);
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: rem-calc(0 24px 24px 0);
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: rem-calc(0 0 24px 24px);
}

.wp-caption-text {
	font-size: rem-calc(14);
	font-weight: 700;
	text-align: center;
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: rem-calc(0 0 28px 0);
}